// -------------- BOOT STYLES

$light-grey: #dcdcdd;
$grey: #c5c3c6;
$dark-grey: #46494c;
$grey-blue: #4c5c68;
$blue: #1985a1;

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button:hover, input[type="submit"]:hover {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1400px;
}

.flex {
  display: flex;
}

// -------------- CABEÇALHO (Header)

.header {
  height: 90px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  .header__logo {
    width: 25%;
    align-items: center;

    a {
      align-items: center;
      color: white;

      h1 {
        letter-spacing: 2px;
        font-weight: 400;
      }

      h1:nth-of-type(1) {
        font-size: 36px;
      }
      h1:nth-of-type(2) {
        font-size: 24px;
      }
  
      .header__logo__divisor {
        background-color: white;
        height: 30px;
        width: 2px;
        margin: 0 12px;
      }
    }
  }

  .header__menu {
    width: 65%;
    align-items: center;
    justify-content: center;

    ul {
      margin-top: 5px;

      li {
        padding: 5px 6px;
        margin: 0 3px;
        border-bottom: 1px solid transparent;
  
        a {
          color: white;
          font-size: 16px;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }

      li:hover {
        border-bottom: 1px solid white;
        cursor: pointer;
      }
    }
  }

  .header__icons {
    align-items: center;
    justify-content: flex-end;
    width: 10%;

    .header__icons {
      width: fit-content;
      padding: 0 8px;

      .icon {
        color: white;
        font-size: 20px;
      }

      .icon:hover {
        cursor: pointer;
      }
    }
  }
}

// -------------- BANNER PRINCPIAL (Main Banner)

.main-banner {
  background-image: url('/src/images/main_banner.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 900px;

  a {
    .main-banner__gradient {
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), transparent);
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

// -------------- COMPONENTE DE BANNER

.section {
  display: flex;
  justify-content: center;
  height: 900px;
  margin-bottom: 160px;

  .section__left_container {
    display: flex;
    width: 55%;
    height: 100%;
    padding: 80px;
    flex-direction: column;
    justify-content: center;

    p:nth-of-type(1) {
      font-size: 34px;
      margin-bottom: 40px;
    }
    p:nth-of-type(2) {
      width: 70%;
      font-size: 20px;
      margin-bottom: 50px;
    }

    button {
      background-color: $grey-blue;
      color: white;
      outline: 3px solid $grey-blue;
      width: fit-content;
      font-size: 20px;
      letter-spacing: 1px;
      padding: 15px 50px;
      transition: .2s;
    }

    button:hover {
      background-color: transparent;
      color: $grey-blue;
    }
  }

  .section__right_container {
    width: 45%;
    height: 100%;
  }
}

// -------------- SOBRE NÓS (About Us)

.about-us {
  .about-us__left {
    position: relative;

    .about-us__left__background {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      z-index: -1;
      background-image: url('/src/images/about_us_banner.jpg');
      background-position: center;
      background-size: cover;
      filter: blur(5px);
      opacity: 0.1;
    }
  }

  .about-us__right {
    position: relative;

    .about-us__images {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    
    .about-us__images.first {
      background-color: blanchedalmond;
      position: absolute;
      width: 50%;
      height: 440px;
      right: 0;
      top: 35%;
    }

    .about-us__images.second {
      background-color: cadetblue;
      position: absolute;
      width: 60%;
      height: 440px;
      right: 40px;
    }

    .about-us__images.third {
      background-color: chartreuse;
      position: absolute;
      width: 440px;
      height: 440px;
      right: 100%;
      top: 100%;
      transform: translate(50%, -50%);
    }
  }
}

// -------------- SOBRE A LOJA BANNER (Store)

.store {
  .store__right {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// -------------- COMPONENTE DE SHOWCASE

.showcase {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;

  .showcase__container {
    flex-direction: column;

    .showcase__title {
      padding: 20px 0 15px 0;
      text-align: center;
      font-size: 34px;
      margin-bottom: 10px;
    }

    .showcase__items {
      display: flex;
      position: relative;

      .showcase__items__arrows {
        justify-content: space-between;
        position: absolute;
        width: calc(100% + 60px);
        top: 50%;
        left: -30px;
        transform: translateY(-50%);

        img {
          width: 40px;
        }

        img:hover {
          cursor: pointer;
        }

        .showcase__items__arrows--left {
          img {
            transform: rotate(180deg);
          }
        }

        .showcase__items__arrows--right {
          img {
            
          }
        }
      }

      .showcase__item {
        width: 25%;
        padding: 20px;

        .showcase__item__category {
          font-size: 22px;
          padding: 20px 0;
          text-align: center;
          text-transform: uppercase;
        }

        .showcase__item__container {
          .showcase__item__image {
            background-color: cornflowerblue;
            position: relative;
            width: 100%;
            height: 380px;

            .showcase__item__image__flag {
              position: absolute;
              background-color: $grey-blue;
              color: white;
              top: 0;
              margin: 10px;
              padding: 10px 14px;
            }

            .showcase__item__image__price {
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              padding: 20px;
              font-size: 20px;
            }
          }
  
          .showcase__item__title {
            // color: white;
            letter-spacing: 1px;
            font-size: 20px;
            text-align: center;
            margin: 16px 0;
          }
  
          .showcase__item__buy_button {
            text-align: center;

            button {
              background-color: transparent;
              color: $grey-blue;
              outline: 3px solid $grey-blue;
              width: 99%;
              font-size: 20px;
              letter-spacing: 1px;
              padding: 15px 50px;
              transition: .2s;
            }
        
            button:hover {
              background-color: $grey-blue;
              color: white;
            }
          }
        }
      }
    }
  }
}

// -------------- BANNER DE TEXTO (Text Banner)

.text-banner {
  display: flex;
  justify-content: center;
  margin-bottom: 160px;

  .text-banner__text {
    font-size: 34px;
    width: calc(100% - 400px);
    margin: 150px 200px;
    text-align: center;
    line-height: 1.5;
  }
}

// -------------- BANNER DE DESTAQUE (Feature)

.feature {
  margin-bottom: 0;

  .feature__container {
    align-items: flex-end;
  }

  .feature__left {
    background-image: linear-gradient(180deg, transparent, rgba(153, 153, 153, 0.1));
    height: 800px;
  }

  .feature__right {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

// -------------- BANNER DE NOVIDADES (News)

.news {
  display: flex;
  justify-content: center;
  height: 1400px;

  .container {
    background-color: rgba(153, 153, 153, 0.1);
    padding: 80px;
    justify-content: center;
    align-items: center;
    position: relative;

    .news__container {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 440px;
      height: fit-content;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
        transition: .2s;
      }

      img:hover {
        opacity: 1;
      }

      .news__container__small__image {
        background-color: cornsilk;
        width: 440px;
        height: 440px;
      }

      .news__container__large__image {
        background-color: darkgray;
        width: 440px;
        height: 560px;
      }

      .news__container__content {
        padding: 20px 60px;
        margin-top: 15px;
        font-size: 18px;

        .news__container__links {
          display: flex;
          flex-direction: column;
          text-transform: uppercase;
          
          a {
            color: $dark-grey;
            text-decoration: underline;
          }
        }
  
        .news__container__title {
          font-size: 26px;
          margin: 14px 0;
        }
      }
    }

    .news__container:nth-of-type(1) {
      left: 5%;
      z-index: 2;
      margin-bottom: 90px;
    }

    .news__container:nth-of-type(2) {
      z-index: 1;
    }

    .news__container:nth-of-type(3) {
      right: 5%;
      z-index: 0;
      margin-bottom: 90px;
    }
  }
}

// -------------- BANNER DE ORÇAMENTO (Budget)

.budget {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 160px;
  background-image: url('/src/images/s1000rr_banner_02.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .budget__gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), transparent);
  }

  .container {
    z-index: 1;

    .budget__container__left {
      flex-direction: column;
      justify-content: center;
      width: 45%;
      font-size: 22px;
      padding: 80px;
      color: white;

      .budget__image {
        margin-top: 20px;
        img {
          width: 460px;
          transition: .3s;
        }

        img:hover {
          transform: scale(1.2);
        }
      }
    }

    .budget__container__right {
      width: 55%;
      padding: 80px;

      .budget__form {
        background-color: #4c5c6891;
        color: white;
        padding: 30px;
        flex-direction: column;
        align-items: flex-end;

        p:nth-of-type(1) {
          font-size: 34px;
        }
        p:nth-of-type(2) {
          font-size: 26px;
          margin-bottom: 30px;
        }
        p:nth-of-type(3) {
          font-size: 26px;
          margin-bottom: 20px;
        }

        .budget__form__price {
          font-size: 34px;
          margin-bottom: 20px;
        }

        #select_motorcycle {
          padding: 10px 12px;
          font-size: 15px;
          background-color: $light-grey;
          outline: 3px solid $light-grey;
        }
        #select_motorcycle:hover {
          cursor: pointer;
        }

        .budget__form__variations {
          margin: 15px 0 30px 0;

          .budget__form__variation {
            background-color: transparent;
            padding: 10px 12px;
            margin-left: 10px;
            outline: 3px solid $light-grey;
            transition: .2s;
          }
          .budget__form__variation:hover {
            cursor: pointer;
            background-color: $light-grey;
            color: black;
          }
        }

        .budget__form__infos {
          flex-wrap: wrap;

          input {
            padding: 10px 12px;
            font-size: 15px;
            margin-bottom: 10px;
          }
          input[type="text"] {
            width: 60%;
          }
          input[type="number"] {
            width: calc(40% - 10px);
            margin-left: 10px;
          }
          input[type="email"] {
            width: calc(80% - 10px);
            margin-right: 10px;
          }
          input[type="submit"] {
            width: 20%;
            text-transform: uppercase;
            background-color: $grey-blue;
            color: white;
            letter-spacing: 1px;
            transition: .2s;
          }
          input[type="submit"]:hover {
            background-color: $light-grey;
            color: black;
          }
        }
      }
    }
  }
}

// -------------- BANNER DE CIDADES (Find-us)

.find-us {
  display: flex;
  justify-content: center;
  margin-bottom: 160px;

  .container {
    height: 400px;

    .find-us__container__left {
      flex-direction: column;
      justify-content: center;
      width: 50%;
      padding: 80px;

      p {
       font-size: 20px;
       margin-bottom: 5px;
      }

      p:nth-of-type(1) {
        font-size: 34px;
        margin-bottom: 15px;
      }
    }

    .find-us__container__right {
      width: 50%;
      padding: 60px 80px 60px 0;

      .find-us__map {
        background-color: darkgoldenrod;
        width: 100%;
        height: 100%;
      }
    }
  }
}

// -------------- NEWSLETTER

.newsletter {
  display: flex;
  justify-content: center;
  margin-bottom: 160px;

  .container {
    padding: 0 80px;
    justify-content: space-between;

    .newsletter__text {
      width: 30%;
      font-size: 20px;
    }

    .newsletter__form {
      width: calc(70% - 20px);
      margin-left: 20px;

      input {
        padding: 10px 12px;
        font-size: 16px;
      }
      input[type="email"] {
        width: calc(80% - 10px);
        margin-right: 10px;
        background-color: $light-grey;
      }
      input[type="submit"] {
        width: 20%;
        background-color: $grey-blue;
        color: white;
        letter-spacing: 1px;
        transition: .2s;
      }
      input[type="submit"]:hover {
        background-color: $light-grey;
        color: black;
      }
    }
  }
}

// -------------- FOOTER

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: $grey-blue;

  .footer__background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .container {
    flex-direction: column;
    z-index: 1;

    .footer__top {
      display: flex;
      width: 100%;
      justify-content: space-between;
      
      .footer__infos, .footer__menus, .footer__social-medias {
        width: calc(100% / 3);
        padding: 50px 30px;
      }

      .footer__infos {
        display: flex;
        align-items: center;

        a {
          align-items: center;
          color: white;
    
          h1 {
            letter-spacing: 2px;
            font-weight: 400;
          }
    
          h1:nth-of-type(1) {
            font-size: 36px;
          }
          h1:nth-of-type(2) {
            font-size: 24px;
          }
      
          .header__logo__divisor {
            background-color: white;
            height: 30px;
            width: 2px;
            margin: 0 12px;
          }
        }
      }

      .footer__menus, .footer__social-medias {
        ul {
          height: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          li {
            margin-bottom: 4px;

            a {
              color: white;
              font-size: 18px;
              text-transform: uppercase;
            }
          }
        }
      }

      .footer__menus {
        margin-right: 14%;

        ul {
          li {
            a {
              transition: .2s;
            }
            a:hover {
              letter-spacing: 2px;
            }
          }
        }
      }

      .footer__social-medias {
        width: fit-content;

        ul {
          align-items: flex-start;
          li {
            margin-bottom: 6px;
          }
        }
      }
    }
  }

  .footer__bottom {
    background-color: #3d495398;
    color: white;
    width: 100%;
    padding: 20px 0;
    font-size: 14px;
    text-align: center;
    letter-spacing: 2px;
    z-index: 1;
  }
}